.footer{
    background-color: #0d253f;
    color: white;
    display: flex;
    padding: 5%;
    gap: 3%;
    justify-content: center;
    flex-wrap: wrap;
}

.container_join h2{
    font-weight: bold;
    font-size: medium;
    background-color: #ededed;
    color: #01b4e4;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 5px;
    }

.container {
    margin-top: 2rem;
}

.container h2{
    font-weight: bold;
    font-size: large;
}

.container p{
    font-weight: 300;
}

