.header{
    background-color: #0d253f;
    color: white;
    padding: 1.3rem 5rem 1.3rem 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bar {
    gap: 1.25rem;
    display: flex;
    width: 50vw;
    min-width: 0;
}