.welcome {
  background-color: #078bc7;
  color:white;
  padding-top: 5rem;
}

.moviecontainer {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  ::-webkit-scrollbar {
  display: none;} 
}

.trending {
  background-color: #ededed;
  padding-bottom: 0rem;
}

.title {
  display: flex;
  gap: 1rem;
}

.trailers {
  background-color: #04203c;
  color:white;
}

.popular {
  background-color: #ededed;
  padding-bottom: 0rem;
}

.join {
  background-color: #53197c;
  color:white;
  display: flex;
  gap: 3rem;
}

.leaderbord {
  background-color: #ededed;
}

.container h3{
    width: max-content;
    font-weight: 600;
    background-color: #bd8ddd;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 5px;
}

.title button:hover{
  cursor: pointer;
  font-weight: bold;
}