.welcome {
  background-color: #078bc7;
  color:white;
  padding: 5rem 3rem 5rem 3rem;
}

.moviecontainer {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  ::-webkit-scrollbar {
  display: none;} 
}

.trending {
  background-color: #ededed;
  padding: 2rem 3rem 0rem 3rem;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trailers {
  background-color: #04203c;
  color:white;
  padding: 2rem 3rem 0rem 3rem;
}

.popular {
  background-color: #ededed;
  padding: 2rem 3rem 0rem 3rem;
}

.join {
  background-color: #53197c;
  color:white;
  display: flex;
  gap: 3rem;
  padding: 2rem 3rem 5rem 3rem;
}

.leaderboard {
  background-color: #ededed;
  padding: 2rem 3rem 5rem 3rem;
}

.container h3{
    width: max-content;
    font-weight: 600;
    background-color: #bd8ddd;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 5px;
}

.title button:hover{
  cursor: pointer;
  font-weight: bold;
}

.tab {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  overflow-x: auto;
  border-radius: 10px;
  position: relative;
}

.tab >* {
  flex: 0 0 auto;
  box-sizing: border-box;
}

.videocard {
  width: 315px;
}

.videocard:hover {
  color: #4c8099;
  gap: 10px;
}

.infoleaderboard {
  display: flex;
  gap: 10px;
  align-items: center;
}

.leaderinfo {
  font-weight: bolder;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.progress {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.progresscolor_red {
  background: linear-gradient(to right, #fdbf70, #da3d63 );
}

.leaderboardcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
}