.moviecard img{
    border-radius: 10px;
    margin-bottom: 1rem;
}

.moviecard {
    margin-top: 1.5rem;
    font-size: 0.9em;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
}

.containerimg_trailer {
    width: 315px;
    height: 176.96px;
    background-color: rgb(209, 208, 208);
    border-radius: 10px;
    margin-bottom: 1.2rem;
    animation: pulse 1.5s infinite;
}

.containertext_trailer {
    width: 150px;
    height: 13px;
    background-color: #04203c
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}